@model GesNaturaMVC.ViewModels.PercursoVM
@*@model GesNaturaMVC.ViewModels.EstatisticaVM*@
@{
    ViewBag.Title = "Dados";

        
}

<h3>Dados Estatísticos</h3>


<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="customDiv">
                <div>
                    <h4>Lista de percursos criados</h4>
                    @foreach (var item in Model.ListaPercursosCriadosVM)
                    {
                        if (item.NomePercurso == null)
                        {
                            <p>Utilizador sem percursos criados</p>
                            
                        }
                        else
                        {
                            <p>
                                @Html.ActionLink(item.NomePercurso.ToString(), "Details", "Percursos", new { Id = item.PercursoID }, null)
                            </p>
                        }

                        @*<p>
                @Html.ActionLink(item.NomePercurso.ToString(), "Details", "Percursos", new { Id = item.PercursoID }, null)
            </p>*@


                        @*<div class="clearfix"></div>*@
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Percursos</h4>

            @*<table>

                @foreach (var item in Model.ListaPercurosPercorridosVM)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)

                        </td>
                        
                    </tr>



                }
            </table>*@


            <p>Percurso com maior classificação: @ViewBag.Maior</p>
        </div>
        <div class="col-md-4">
            <h4>Pessoais</h4>
            <p>Total de Kms Percorridos: @ViewBag.TotalKms kms</p>
            <p>Total de horas: @ViewBag.TotalHoras</p>
            <p>Média @ViewBag.Media kms/h</p>
        </div>
    </div>
</div>
<script>
        
        //function contaKms(dist) {
        //    var total = total + dist;
        //    return total;
        //}
    </script>

