@model GesNaturaMVC.ViewModels.PercursoVM
@*@model GesNaturaMVC.ViewModels.EstatisticaVM*@
@{
    ViewBag.Title = "Dados";

    var totalRating = decimal.Parse(ViewBag.Maior);


}

<h3>Dados Estatísticos</h3>


<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="customDiv">
                <div>
                    <h4>Lista de percursos criados</h4>
                    @foreach (var item in Model.ListaPercursosCriadosVM)
                    {
                        if (item.NomePercurso == null)
                        {
                            <p>Utilizador sem percursos criados</p>
                            
                        }
                        else
                        {
                            <p>
                                @Html.ActionLink(item.NomePercurso.ToString(), "Details", "Percursos", new { Id = item.PercursoID }, null)
                            </p>
                        }

                        @*<p>
                @Html.ActionLink(item.NomePercurso.ToString(), "Details", "Percursos", new { Id = item.PercursoID }, null)
            </p>*@


                        @*<div class="clearfix"></div>*@
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Percursos</h4>

            @*<table>

            @foreach (var item in Model.ListaPercurosPercorridosVM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)

                    </td>

                </tr>



            }
        </table>*@

            <br>
            <h6>melhor classificado</h6>
            <p style="color:darkgoldenrod">@ViewBag.Nome </p>
            <span class="starFadeN" id="sRate1"></span>
            <span class="starFadeN" id="sRate2"></span>
            <span class="starFadeN" id="sRate3"></span>
            <span class="starFadeN" id="sRate4"></span>
            <span class="starFadeN" id="sRate5"></span>
            <br>
            @*<p>Percentagem de Percursos Comentados: @ViewBag.Percentagem%</p>*@
            <br>
            <h6>o mais comentado</h6>
            <p style="color:darkgoldenrod">@ViewBag.MaisComentarios</p>

        </div>
        <div class="col-md-4">
            <h4>Pessoais</h4>
            <br>
            <h6>Total de Kms Percorridos @*<i class="large material-icons" style="color:aqua">linear_scale</i>*@ </h6>
            <h6 style="color:coral">@ViewBag.TotalKms kms</h6>
            <br>
            <h6>Total de horas de caminhada</h6>
            <h6 style="color:coral">@ViewBag.TotalHoras</h6>
            <br>
            <h6>Média</h6>
            <h6 style="color:coral">@ViewBag.Media kms/h</h6>
            <br>
            
        </div>
    </div>
</div>
<script>
    $(function () {
        SCRate();
    });

    function SCRate() {
        for (var i = 1; i <= @totalRating ; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    </script>

