@model GesPhloraClassLibrary.Models.FotoPercursos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FotoPercursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Percurso.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percurso.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caminho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caminho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
