@model IEnumerable<GesPhloraClassLibrary.Models.Familia>

@{
    ViewBag.Title = "Familia";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>
<p>
    @Html.ActionLink("Create Genero", "Create", "Generos")
</p>
<table class="table">
    <tr>
        <th>
            Ordem
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordem.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
